/* Prevent problems with different browsers */
* {box-sizing: border-box}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header Stuff */
header {
    background-color: #EEF2F2;
    padding: 1rem 2vw; 
    display: flex;
}
header div {
    padding-left: 1vw;
    padding-top: 1rem;
}
header h1 {
    margin: 0;
    color: #345076;
}
header p {
    margin: 0;
    color: #345076;
    letter-spacing: .5px;
}

/* Nav Stuff */

/* Small Screens */
@media only screen and (max-width: 800px ) {
    
    nav ul{
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700; 
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #f0f2f2;
        color: #345076;
    }
    nav .active a {
        background-color: #F0CF2C;
        background-image: linear-gradient(to bottom, #F0CF2C, #c8ad26);
        color: #345076;
    }
    
} /* End of the Media Query */

/* Big Screens */
@media only screen and (min-width: 801px ) {
     
    nav { 
    background-color: #F0CF2C;
}
    nav ul { 
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;  
}
    nav a {
    font-size: 1.1rem;
    text-decoration: none; 
    color: #345076;
    font-weight:  700;
    display: block; 
    padding: .75rem 2rem;
}
    nav li.active a {
    background-color: #345076;
    color: #F0CF2C;
}
    nav a:hover {
    color: #fff;
}

} /* End of the Media Query */



/* Main Stuff */
main { 
    padding: 1rem 2vw; 
}
main h1 { 
    color: #345076;
}
main h2 { 
    color: #345076;
    margin-bottom: .2rem;
}
main h3 { 
    color: #618FCA;
    margin-bottom: .2rem;
}
main p { 
    color: #3A3B3C;
    margin: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 3vw; 
    background-color: #f0f2f2;
}
main dl dt {
    color: #618FCA;
    font-weight: 700;
}
main dl dd {
    color: #3A3B3C;
    font-size: .93rem;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem; 
    font-size: .9rem;
}
main address {
    font-style: normal;
    background-color: #F0CF2C;
    padding: .5rem; 
    width: 11rem;
    border: 1.25px solid #345076;
    border-radius: 7px;
}
main a {
    color: #345076;
}
main a:hover {
    color: #618FCA;
}

figure.mariahhero {
    width: 100%;
    margin: 0;
}
figure.mariahhero img {
    width: 100%;
    height: auto; 
}

figure.main {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.main img {
    width: 100%; 
    height: auto;
}
figure.main figcaption {
    text-align: center;
    font-size: .8rem;
}

div.results{
    display: flex;
    flex-wrap: wrap;
}
div.results figure {
    margin: .5rem 2% 0 0;
}
div.results figcaption {
    text-align: center;
    font-size: .8rem;
    color: #345076;
}
div.results img:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.mysurvey fieldset {
    border: 1px solid #618FCA;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.mysurvey legend {
    background-color: #618FCA;
    color: #EEF2F2;
    font-size: .85rem;
    border-radius: 3px;
    padding: 0 .3rem;
}
.mysurvey label {
    margin: .5rem;
}
.mysurvey label, .mysurvey select, .mysurvey [type=text], .mysurvey [type=tel], .mysurvey [type=email], .mysurvey textarea {
    display: block; 
}
.mysurvey select, .mysurvey [type=text], .mysurvey [type=tel], .mysurvey [type=email], .mysurvey textarea {
    border: solid 1px #3A3B3C;
    padding: .3rem;
    width: 235px;
    border-radius: 3px;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
}
.mysurvey textarea {
    height: 5.5rem
}
.mysurvey :required {
    background-color: rgba(97,143,202,0.15);
}
.mysurvey [type=submit] {
    background-color: #345076;
    border: none;
    padding: 1rem 2rem;
    border-radius:7px;
    color: #EEF2F2;
    margin: 1rem 0 0 1vw;
}

table.shows {
    width: 100%;
    border-collapse: collapse;
}
table.shows th {
    background-color: #345076;
    color: white;
    padding: .5rem 2vw; 
    text-align: left;
}
table.shows td {
    color: #618FCA;
    padding: .4rem 2vw;
}
table.shows tr:nth-child(odd) {
    background-color: #EEF2F2;
}
table.shows tr:hover {
    background-color: rgba(240,207,44,0.2);
}
main address.peaks {
    font-style: normal;
    background-color: #F0CF2C;
    padding: .5rem; 
    width: 12rem;
    border: 1.25px solid #345076;
    border-radius: 7px;
}


/* Footer Stuff */
footer {
    background-color: #EEF2F2;
    text-align: center;
    color: #345076;
    padding: 1rem 0;
    font-size: .85rem;
}
footer a {
    color: #003369;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}